PROJECT_NAME=medstt
ENVIRONMENT=development

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_PORT=5432
POSTGRES_HOST=postgres

REDIS_PORT=6379
REDIS_HOST=redis
REDIS_PASSWORD=

PGADMIN_DEFAULT_EMAIL=
PGADMIN_DEFAULT_PASSWORD=
PGADMIN_PORT=5050
